---
layout: default
---
<button id="fullscreenButton" class="button fullscreen">
  <svg enable-background="new 0 0 32 32" height="32px" id="svg2" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg">
    <g id="background"><rect fill="none" height="32" width="32"/></g>
    <g id="fullscreen"><path d="M20,8l8,8V8H20z M4,24h8l-8-8V24z"/><path d="M32,28V4H0v24h14v2H8v2h16v-2h-6v-2H32z M2,26V6h28v20H2z"/></g>
  </svg>
</button>
<div class="container" id="container">
  <div id="light-01" class="panel">
    <div class="selector">
      <label>
        <input type="text" id="text-01"/>
      </label>
      <label>
        <input type="color" id="color-01"/>
      </label>
    </div>
    <div id="presets-01" class="preset-container">
      {% for preset in siteData.presets %}
        <div 
          color="{{ preset.color }}"
          style="background-color: {{ preset.color }}"
          class="preset">{{ preset.name }}</div>
      {% endfor %}
    </div>
  </div>
</div>